@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<div class="row mt-5 justify-content-center">
    <div class="col-2 bg-white mb-2 rounded-3">
        <div class="container mt-4">
            <div class="row mb-2">
                <h4>Фильтр</h4>
            </div>
            @foreach(var item in Model.categories){
                <div class="row">
                    <div class=col-md-auto>
                        <input class="form-check-input" type="checkbox" value=""/>
                    </div>
                    <div class=col-md-auto>
                        <p>@item.Name</p>
                    </div>
                </div>
            }
            <a class="btn btn-danger">Применить</a>
        </div>
    </div>
    <div class="col-6">
        @foreach(var item in Model.products)
        {
            <div class="container p-3 mb-2 bg-white rounded-3">
                <div class="row">
                    <div class="col-md-auto">
                        <img src="~/img/@item.Img" style="width: 209.5px; height: 150px;">
                    </div>
                    <div class="col-3 mt-4">
                        <p>@item.Name</p>
                    </div>
                    <div class="col-md-auto">
                        <div class="container mt-4">
                            <div class="row">
                                <p>Цена: @item.Price.ToString("c")</p>
                            </div>
                        <div class="row">
                            <a class="btn btn-danger" href="/Home/AddOrder?ProductId=@item.Id">Купить</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


