<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/bootstrap-grid.css" rel="stylesheet"/>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row mt-3 p-3 justify-content-center text-white bg-danger rounded-3">
            <div class="col-1 mx-2">
                <a class="navbar-brand text-white" href="/Home/Index"><label class="h3">MyShop</label></a>
            </div>
            <div class="col-4">
                <form>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="col-md-auto">
                <a href="/Home/Order" class="btn btn-warning">Корзина @ViewBag.OrderCount</a>
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="container text-white">
        <hr />
        <footer>
            <p>© 2022 - MyShop</p>
        </footer>
    </div>
</body>
</html>
