<div class="aside">
    <h3 class="aside-title">Фильтр</h3>
</div>
@foreach (var f in Model)
{
    <div class="aside">
        @await Html.PartialAsync($"PartialView/Filter/FiltrationTypes/{f.Value.filtrationType.GetType().Name}", new KeyValuePair<int, FilterElement>(f.Key, f.Value))
    </div>
}
<div class="aside">
	<input type='submit' class='primary-btn' value='Найти'/>
</div>