@foreach(var item in Model)
{
	<div class="col-md-3 col-xs-6">
		<div class="product">
			<div class="product-img">
				<img src="~/img/Product/@item.BrandId/@item.Img.ImgPreview" alt="">
				@if(@Convert.ToBoolean(item.Characteristics["Novelty"])){
					<div class="product-label">
						<span class="new">NEW</span>
					</div>
				}								
			</div>
			<div class="product-body">
				<p class="product-category">@item.Brand.Name</p>
				@{
					var ModelName = new System.Text.StringBuilder();
					ModelName.Append(item.Characteristics["ModelName"]);
					ModelName.Append($" {item.Characteristics["ROMMemory"]}Gb");
					ModelName.Append($" ({item.Color.Name})");
				}
				<h3 class="product-name"><a href="#">@ModelName</a></h3>
				<h4 class="product-price">@item.Characteristics["Price"] ₽</h4>
			</div>
			<div class="add-to-cart">
				<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> В корзину</button>
			</div>
		</div>
	</div>
}